{
    "extends": [
        "eslint:recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:jest/recommended",
        "plugin:jest/style",
        "plugin:prettier/recommended",
        "plugin:promise/recommended",
        "plugin:react-perf/recommended",
        "plugin:react-redux/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "jest/globals": true
    },
    "parser": "babel-eslint",
    "rules": {
        "for-direction": "warn",
        "getter-return": "error",
        "no-async-promise-executor": "error",
        "no-await-in-loop": "error",
        "no-compare-neg-zero": "warn",
        "no-cond-assign": "warn",
        "no-console": "off",
        "no-constant-condition": "warn",
        "no-control-regex": "warn",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": "warn",
        "no-empty-character-class": "error",
        "no-ex-assign": "warn",
        "no-extra-boolean-cast": "warn",
        "no-extra-parens": "off",
        "no-extra-semi": "error",
        "no-func-assign": "off",
        "no-inner-declarations": "warn",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "warn",
        "no-misleading-character-class": "error",
        "no-obj-calls": "error",
        "no-prototype-builtins": "warn",
        "no-regex-spaces": "warn",
        "no-sparse-arrays": "warn",
        "no-template-curly-in-string": "warn",
        "no-unexpected-multiline": "warn",
        "no-unreachable": "warn",
        "no-unsafe-finally": "warn",
        "no-unsafe-negation": "warn",
        "require-atomic-updates": "error",
        "use-isnan": "warn",
        "valid-typeof": "error",
        "accessor-pairs": "warn",
        "array-callback-return": "warn",
        "block-scoped-var": "warn",
        "class-methods-use-this": "warn",
        "complexity": ["warn", 32],
        "consistent-return": "off",
        "curly": "warn",
        "default-case": "warn",
        "dot-location": "warn",
        "dot-notation": "warn",
        "eqeqeq": "warn",
        "guard-for-in": "off",
        "max-classes-per-file": "off",
        "no-alert": "warn",
        "no-caller": "warn",
        "no-case-declarations": "warn",
        "no-div-regex": "warn",
        "no-else-return": "off",
        "no-empty-function": "off",
        "no-empty-pattern": "warn",
        "no-eq-null": "error",
        "no-eval": "warn",
        "no-extend-native": "error",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-fallthrough": "off",
        "no-floating-decimal": "warn",
        "no-global-assign": "error",
        "no-implicit-coercion": "warn",
        "no-implicit-globals": "warn",
        "no-implied-eval": "warn",
        "no-invalid-this": "warn",
        "no-iterator": "warn",
        "no-labels": "off",
        "no-lone-blocks": "warn",
        "no-loop-func": "warn",
        "no-magic-numbers": "off",
        "no-multi-spaces": "warn",
        "no-multi-str": "off",
        "no-new": "warn",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-octal": "warn",
        "no-octal-escape": "warn",
        "no-param-reassign": "off",
        "no-proto": "warn",
        "no-redeclare": "error",
        "no-restricted-properties": "warn",
        "no-return-assign": "error",
        "no-return-await": "error",
        "no-script-url": "warn",
        "no-self-assign": "error",
        "no-sequences": "warn",
        "no-throw-literal": "off",
        "no-unmodified-loop-condition": "warn",
        "no-unused-expressions": "warn",
        "no-unused-labels": "warn",
        "no-useless-call": "warn",
        "no-useless-catch": "warn",
        "no-useless-concat": "warn",
        "no-useless-escape": "warn",
        "no-void": "warn",
        "prefer-named-capture-group": "off",
        "prefer-promise-reject-errors": "warn",
        "radix": "off",
        "require-await": "warn",
        "require-unicode-regexp": "off",
        "vars-on-top": "off",
        "wrap-iife": "warn",
        "yoda": "warn",
        "strict": "off",
        "init-declarations": "off",
        "no-delete-var": "off",
        "no-label-var": "error",
        "no-restricted-globals": "off",
        "no-shadow": "off",
        "no-shadow-restricted-names": "warn",
        "no-undef": "off",
        "no-undef-init": "error",
        "no-unused-vars": "off",
        "no-use-before-define": "warn",
        "callback-return": "warn",
        "global-require": "off",
        "handle-callback-err": "warn",
        "no-buffer-constructor": "error",
        "no-mixed-requires": "warn",
        "no-new-require": "warn",
        "no-path-concat": "warn",
        "no-process-env": "off",
        "no-process-exit": "off",
        "no-restricted-modules": "off",
        "no-sync": "off",
        "array-bracket-newline": "off",
        "array-bracket-spacing": "warn",
        "array-element-newline": "off",
        "block-spacing": ["warn", "always"],
        "brace-style": ["warn", "1tbs"],
        "camelcase": "off",
        "capitalized-comments": "off",
        "comma-dangle": "off",
        "comma-spacing": "warn",
        "comma-style": "warn",
        "computed-property-spacing": "warn",
        "consistent-this": "warn",
        "eol-last": "warn",
        "func-name-matching": "warn",
        "func-names": "off",
        "func-style": "off",
        "function-paren-newline": "off",
        "implicit-arrow-linebreak": "off",
        "indent": [
            "warn",
            4,
            {
                "ignoredNodes": [
                    "JSXElement",
                    "JSXElement > *",
                    "JSXAttribute",
                    "JSXIdentifier",
                    "JSXNamespacedName",
                    "JSXMemberExpression",
                    "JSXSpreadAttribute",
                    "JSXExpressionContainer",
                    "JSXOpeningElement",
                    "JSXClosingElement",
                    "JSXText",
                    "JSXEmptyExpression",
                    "JSXSpreadChild"
                ],
                "SwitchCase": 1
            }
        ],
        "jsx-quotes": "warn",
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "line-comment-position": "off",
        "linebreak-style": "error",
        "lines-around-comment": "off",
        "lines-between-class-members": "off",
        "multiline-ternary": "off",
        "new-cap": "warn",
        "new-parens": "off",
        "newline-per-chained-call": "off",
        "no-array-constructor": "warn",
        "no-bitwise": "off",
        "no-continue": "off",
        "no-inline-comments": "off",
        "no-lonely-if": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-multi-assign": "error",
        "no-multiple-empty-lines": "off",
        "no-negated-condition": "off",
        "no-nested-ternary": "warn",
        "no-new-object": "warn",
        "no-plusplus": "off",
        "no-restricted-syntax": "off",
        "no-tabs": "off",
        "no-ternary": "off",
        "no-trailing-spaces": "warn",
        "no-underscore-dangle": "off",
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "warn",
        "object-curly-spacing": "off",
        "one-var": "off",
        "one-var-declaration-per-line": "off",
        "operator-assignment": "warn",
        "operator-linebreak": "warn",
        "padded-blocks": "off",
        "padding-line-between-statements": "off",
        "prefer-object-spread": "warn",
        "quote-props": "off",
        "quotes": "off",
        "semi": "warn",
        "semi-spacing": "warn",
        "semi-style": "warn",
        "sort-keys": "off",
        "sort-vars": "warn",
        "space-before-blocks": "off",
        "space-before-function-paren": "off",
        "space-in-parens": "off",
        "space-infix-ops": "off",
        "space-unary-ops": "off",
        "spaced-comment": "warn",
        "switch-colon-spacing": "off",
        "template-tag-spacing": "off",
        "unicode-bom": "warn",
        "wrap-regex": "off",
        "arrow-body-style": "off",
        "arrow-parens": "off",
        "arrow-spacing": "warn",
        "constructor-super": "warn",
        "generator-star-spacing": "warn",
        "no-class-assign": "warn",
        "no-confusing-arrow": "warn",
        "no-const-assign": "warn",
        "no-dupe-class-members": "warn",
        "no-duplicate-imports": "warn",
        "no-new-symbol": "warn",
        "no-restricted-imports": "off",
        "no-this-before-super": "warn",
        "no-useless-constructor": "warn",
        "no-useless-rename": "warn",
        "no-var": "off",
        "object-shorthand": "off",
        "prefer-arrow-callback": "off",
        "prefer-numeric-literals": "warn",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": "off",
        "require-yield": "warn",
        "rest-spread-spacing": "warn",
        "sort-imports": "off",
        "symbol-description": "warn",
        "template-curly-spacing": "off",
        "yield-star-spacing": "off",
        "max-len": "off",
        "prettier/prettier": "error",
        "react/boolean-prop-naming": "off",
        "react/button-has-type": "warn",
        "react/default-props-match-prop-types": "warn",
        "react/destructuring-assignment": "off",
        "react/display-name": "off",
        "react/forbid-component-props": "off",
        "react/forbid-dom-props": "off",
        "react/forbid-elements": "off",
        "react/forbid-prop-types": "off",
        "react/forbid-foreign-prop-types": "warn",
        "react/no-access-state-in-setstate": "warn",
        "react/no-array-index-key": "error",
        "react/no-children-prop": "error",
        "react/no-danger": "warn",
        "react/no-danger-with-children": "error",
        "react/no-deprecated": "error",
        "react/no-did-mount-set-state": "error",
        "react/no-did-update-set-state": "warn",
        "react/no-direct-mutation-state": "error",
        "react/no-find-dom-node": "warn",
        "react/no-is-mounted": "error",
        "react/no-multi-comp": "warn",
        "react/no-redundant-should-component-update": "warn",
        "react/no-render-return-value": "error",
        "react/no-set-state": "off",
        "react/no-typos": "warn",
        "react/no-string-refs": "warn",
        "react/no-this-in-sfc": "warn",
        "react/no-unescaped-entities": "warn",
        "react/no-unknown-property": "warn",
        "react/no-unsafe": "warn",
        "react/no-unused-prop-types": "warn",
        "react/no-unused-state": "warn",
        "react/no-will-update-set-state": "error",
        "react/prefer-es6-class": "error",
        "react/prefer-read-only-props": "error",
        "react/prefer-stateless-function": "warn",
        "react/prop-types": "warn",
        "react/react-in-jsx-scope": "error",
        "react/require-default-props": "off",
        "react/require-optimization": "off",
        "react/require-render-return": "off",
        "react/self-closing-comp": "warn",
        "react/sort-comp": "off",
        "react/sort-prop-types": "off",
        "react/state-in-constructor": "off",
        "react/static-property-placement": "off",
        "react/style-prop-object": "off",
        "react/void-dom-elements-no-children": "error",
        "react/jsx-indent": ["off", 4],
        "react/jsx-boolean-value": "warn",
        "react/jsx-child-element-spacing": "warn",
        "react/jsx-closing-bracket-location": ["warn", "tag-aligned"],
        "react/jsx-curly-newline": "off",
        "react/jsx-equals-spacing": "warn",
        "react/jsx-filename-extension": "off",
        "react/jsx-first-prop-new-line": "off",
        "react/jsx-handler-names": "off",
        "react/jsx-key": "error",
        "react/jsx-max-depth": "off",
        "react/jsx-max-props-per-line": "off",
        "react/jsx-no-bind": "error",
        "react/jsx-no-comment-textnodes": "warn",
        "react/jsx-no-duplicate-props": "warn",
        "react/jsx-no-literals": "off",
        "react/jsx-no-target-blank": "warn",
        "react/jsx-no-undef": "warn",
        "react/jsx-no-useless-fragment": "warn",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-curly-brace-presence": "warn",
        "react/jsx-fragments": "warn",
        "react/jsx-pascal-case": "warn",
        "react/jsx-props-no-multi-spaces": "warn",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-sort-defalt-props": "off",
        "react/jsx-space-before-closing": "warn",
        "react/jsx-tag-spacing": "warn",
        "react/jsx-uses-react": "off",
        "react/jsx-uses-vars": "off",
        "react/jsx-wrap-multilines": "warn",
        "const-immutable/no-mutation": 2,
        "import/no-unresolved": "warn",
        "import/named": "error",
        "import/default": "warn",
        "import/namespace": "warn",
        "import/no-absolute-path": "error",
        "import/no-dynamic-require": "off",
        "import/no-internal-modules": "warn",
        "import/no-webpack-loader-syntax": "warn",
        "import/no-self-import": "error",
        "import/no-cycle": "error",
        "import/no-useless-path-segments": "warn",
        "import/no-relative-parent-imports": "warn",
        "import/no-unused-modules": "off",
        "import/export": "warn",
        "import/no-named-as-default": "warn",
        "import/no-named-as-default-member": "warn",
        "import/no-deprecated": "warn",
        "import/no-extraneous-dependencies": "warn",
        "import/no-mutable-exports": "error",
        "import/unambiguous": "warn",
        "import/no-commonjs": "off",
        "import/no-amd": "warn",
        "import/no-nodejs-modules": "off",
        "import/first": "warn",
        "import/exports-last": "warn",
        "import/no-duplicates": "error",
        "import/no-namespace": "warn",
        "import/extensions": "warn",
        "import/order": "off",
        "import/newline-after-import": "warn",
        "import/perfer-default-export": "off",
        "import/max-dependencies": "off",
        "import/no-unassigned-import": "off",
        "import/no-named-default": "warn",
        "import/no-default-export": "off",
        "import/no-named-export": "off",
        "import/no-anonymous-default-export": "off",
        "import/group-exports": "warn",
        "import/dynamic-import-chunkname": "warn",
        "jest/consistent-test-it": "warn",
        "jest/expect-expect": "warn",
        "jest/lowercase-name": "warn",
        "jest/no-alias-methods": "off",
        "jest/no-commented-out-tests": "warn",
        "jest/no-disabled-tests": "off",
        "jest/no-duplicate-hooks": "warn",
        "jest/no-expect-resolves": "warn",
        "jest/no-export": "error",
        "jest/no-focused-tests": "warn",
        "jest/no-hooks": "off",
        "jest/no-identical-title": "warn",
        "jest/no-if": "warn",
        "jest/no-jasmine-globals": "warn",
        "jest/no-jest-import": "warn",
        "jest/no-large-snapshots": "warn",
        "jest/no-mocks-import": "off",
        "jest/no-standalone-expect": "warn",
        "jest/no-test-callback": "warn",
        "jest/no-test-prefixes": "warn",
        "jest/no-test-return-statement": "warn",
        "jest/no-truthy-falsy": "warn",
        "jest/no-try-expect": "warn",
        "jest/prefer-called-with": "off",
        "jest/prefer-expect-assertions": "off",
        "jest/prefer-hooks-on-top": "warn",
        "jest/prefer-inline-snapshots": "off",
        "jest/prefer-spy-on": "warn",
        "jest/prefer-strict-equal": "warn",
        "jest/prefer-to-be-null": "warn",
        "jest/prefer-to-be-undefined": "warn",
        "jest/prefer-to-contain": "warn",
        "jest/prefer-to-have-length": "warn",
        "jest/prefer-todo": "warn",
        "jest/require-top-level-describe": "warn",
        "jest/require-to-throw-message": "warn",
        "jest/valid-describe": "warn",
        "jest/valid-expect-in-promise": "warn",
        "jest/valid-expect": "warn",
        "jest/valid-title": "warn",
        "promise/always-return": "error",
        "promise/no-return-wrap": "warn",
        "promise/param-names": "warn",
        "promise/catch-or-return": "warn",
        "promise/no-native": "warn",
        "promise/no-nesting": "warn",
        "promise/no-promise-in-callback": "error",
        "promise/avoid-new": "warn",
        "promise/no-new-statics": "error",
        "promise/no-return-in-finally": "warn",
        "promise/valid-params": "warn",
        "promise/prefer-await-to-then": "off",
        "promise/prefer-await-to-callbacks": "warn",
        "react-hooks/rules-of-hooks": "warn",
        "react-hooks/exhaustive-deps": "warn",
        "react-perf/jsx-no-new-object-as-prop": "warn",
        "react-perf/jsx-no-new-array-as-prop": "warn",
        "react-perf/jsx-no-new-function-as-prop": "warn",
        "react-perf/jsx-no-jsx-as-prop": "off",
        "react-redux/connect-prefer-minimum-two-arguments": "warn",
        "react-redux/connect-prefer-named-arguments": "warn",
        "react-redux/mapDispatchToProps-returns-object": "warn",
        "react-redux/mapDispatchToProps-prefer-shorthand": "warn",
        "react-redux/mapDispatchToProps-prefer-parameters-names": "warn",
        "react-redux/mapStateToProps-no-store": "warn",
        "react-redux/mapStateToProps-prefer-hoisted": "warn",
        "react-redux/mapStateToProps-prefer-parameters-names": "warn",
        "react-redux/no-unused-prop-types": "warn",
        "react-redux/prefer-separate-component-file": "warn"
    },
    "plugins": [
        "babel",
        "const-immutable",
        "import",
        "jest",
        "jsx-a11y",
        "prettier",
        "promise",
        "react",
        "react-hooks",
        "react-perf",
        "react-redux"
    ]
}
